body {
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at top, #1b1f3b, #000);
    font-family: 'Bebas Neue', cursive;
    color: white;
}

/* Main Container */
.container {
    width: 90%;
    max-width: 420px;
    margin: 40px auto;
    background: rgba(10, 10, 30, 0.95);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(255, 215, 0, 0.3);
}

/* Title */
.title {
    text-align: center;
    font-size: 36px;
    color: gold;
    text-shadow: 0 0 10px red;
}

.subtitle {
    text-align: center;
    color: #aaa;
    margin-bottom: 10px;
}

/* Inputs */
input {
    width: 90%;
    padding: 12px;
    margin-top: 8px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #111;
    color: white;
    font-size: 16px;
    align-items: center;
}

/* Chat Box */
.chat-box {
    height: 300px;
    overflow-y: auto;
    background: #050510;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 0;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.7);
}

/* Messages */
.chat-box p {
    margin: 5px 0;
    padding: 6px 10px;
    background: rgba(255, 0, 0, 0.15);
    border-left: 3px solid gold;
    border-radius: 5px;
}

/* Input area */
.input-area {
    display: flex;
    gap: 8px;
}

button {
    background: linear-gradient(45deg, red, gold);
    border: none;
    color: black;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px gold;
}
