<!DOCTYPE html>
<html>
<head>
    <title>Avengers Chat</title>
    <link rel="stylesheet" href="/static/style.css">

    <!-- Avengers Font -->
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>

<div class="container">

    <h1 class="title">🛡 AVENGERS CHAT</h1>
    <p class="subtitle">“Avengers… Assemble!”</p>

    <input type="text" id="username" placeholder="Enter your Avenger name">

    <div id="messages" class="chat-box"></div>

   <div class="input-area">
    <input type="text" id="msg" placeholder="Type message...">
    <button onclick="sendMessage()">Send</button>
    <button onclick="startRecording()">🎤</button>
</div>

</div>

<script src="/static/script.js"></script>
</body>
</html>
